@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");
@import url("//db.onlinewebfonts.com/c/38d41072aa88a50711d4d50dd0d50f6b?family=Neue+Machina");
@import url("//db.onlinewebfonts.com/c/b2bf6541bf9ab3fc3138440f2bc8b592?family=Neue+Montreal+Light");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
@layer base {
    section {
        @apply py-24 flex lg:gap-0 items-center gap-10;
    }
    p {
        @apply font-text text-lg text-dark-white font-light tracking-[0.3px];
    }
    h1 {
        @apply font-heading text-6xl font-bold tracking-[3px] text-light-white;
    }
    h2 {
        @apply font-heading text-3xl font-extrabold uppercase tracking-[3.5px] text-light-white;
    }
    h3 {
        @apply font-heading text-2xl font-bold tracking-[.5px] text-light-white;
    }
    button {
        @apply px-10  py-4 rounded-none text-light-white bg-primary-red text-sm font-medium uppercase tracking-[3.1px] shadow-[87px_0_55px_0_#9d101a_inset] mt-4;
    }
}
@layer components {
    .right-arrow {
        @apply bg-iconArrowRightRed bg-center bg-auto bg-no-repeat;
    }
    .right-arrow-white {
        @apply bg-iconArrowRightWhite bg-center bg-auto bg-no-repeat;
    }
    .icon {
        @apply p-3 ml-3;
    }
    .box {
        @apply w-[calc(50%-theme('gap.4'))] bg-primary-background py-8 flex flex-col justify-center items-center gap-3;
    }
    .image-box {
        @apply lg:w-[calc(50%-theme('gap.6'))] flex flex-col  items-start w-[calc(50%-theme('gap.4'))];
    }
}
#chinese {
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
}
#banner-intro h3,
#banner-intro h1,
#banner-intro p,
#banner-intro button {
    opacity: 0;
    transform: translateY(80px);
}
.icon-box {
    opacity: 0;
    transform: translateX(80px);
}
.button button:nth-child(2) {
    background-color: transparent;
    box-shadow: none;
    position: relative;
    margin: 0;
    overflow-y: hidden;
    overflow-x: visible;
}
.button button:nth-child(2)::before,
.button button:nth-child(2)::after {
    position: absolute;
    top: 0;
    bottom: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 52px;
    width: 1%;
    transform: scale(4.4);
}
.button button:nth-child(2)::before {
    content: "";
    background-image: url("/img/bracket-[.png");
    left: 5px;
    transition: left 0.5s ease-in-out;
}
.button button:nth-child(2)::after {
    content: "";
    background-image: url("/img/bracket-].png");
    right: 5px;
    transition: right 0.5s ease-in-out;
}
.button button:nth-child(2):hover::before {
    transition: left 0.2s ease-in-out linear;
    left: 33px;
}
.button button:nth-child(2):hover::after {
    transition: right 0.2s ease-out linear;
    right: 33px;
}
.button button:nth-child(2):hover::before,
.button button:nth-child(2):hover::after {
    transform: scale(2);
    transition: transform 0.2s ease-in-out;
}
